<h1>Tracks</h1>
<% tracks.forEach(track => { %>
  <div>
    <h3><%= track.name %></h3>
    <audio controls>
      <source src="<%= track.preview_url %>" type="audio/mpeg">
      
    </audio>
  </div>
<% }) %>